header {
  background-color: #222222;
  margin-bottom: 15px;
  color: #aaa;
  display: flex;
  justify-content:space-between;
  align-items: center;

  h2 {
    margin: 0;

    color: #aaa;

    font-weight: 400;
  }

  #g-menu {
    flex-basis: 200px;
    display: flex;
    justify-content: space-around;

    div {
      padding: 15px;
      &:hover {
        cursor: pointer;
        color: white;
        background-color: #000;
      }
    }
  }
}
